@model Work

<h2>Works</h2>

<table class="table table-bordered">
    <tr>
        <th>Work Place</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Time</th>
        <td>@Model.Time h</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>

<div class="mt-3">  
<p><a href="/Work">Back</a>
<a href="/Work/Edit/@Model.Id">Edit</a>
<a href="/Work/Delete/@Model.Id">Delete</a></p>
</div>