




<h2>Create Employee</h2>
<form action="/Employee/Create" method="post">
    <input type="text" name="Name" placeholder="Name" />
    <input type="number" name="Birthyear" value="" placeholder="Birthyear" />
   
    <button>Create Employee</button>
</form>
<div class="mt-3">
    <a asp-controller="Employee" asp-action="Index">Back</a>
</div>