html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #ffffff;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #0b1b3b, #1f4f7b);
    font-family: 'Segoe UI', sans-serif;
}




.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
    z-index: 1;
}


.hero-card {
    text-align: center;
    padding: 40px 60px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(6px);
}


.hero-logo {
    width: 320px;
    height: auto;
    margin-bottom: 20px;
}


.hero-title {
    font-size: 2.4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}


.hero-subtitle {
    font-size: 1.1rem;
    opacity: 0.9;
}

.welcome-text {
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
    background: linear-gradient(90deg, #d4af37, #f7e27c, #d4af37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 215, 0, 0.3);
    margin-top: 40px;
    margin-bottom: -20px; 
    position: relative;
    z-index: 10;
}

.custom-nav {
background: rgba(0, 0, 0, 0.25);
backdrop-filter: blur(6px);
padding: 12px 20px;
}

.custom-nav .navbar-brand {
color: #f7e27c;
font-weight: 600;
font-size: 1.4rem;
}

.custom-nav .nav-link {
 color: #ffffff !important;
 margin-left: 20px;
 font-size: 1.1rem;
 transition: 0.2s;
}

.custom-nav .nav-link:hover {
 color: #f7e27c !important;
 }


.hero {
    transition: transform 0.1s ease-out;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 0 0 20px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 215, 0, 0.3);
    position: relative;
    text-align: center;
    margin-top: 10px;
}
h2 {
    
    background: linear-gradient(90deg, #d4af37, #f7e27c, #d4af37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gold-italic-glow {
    transition: transform 0.1s ease-out;
    font-style: italic;
    color: #f7e27c;
    transition: 0.3s ease;
}

.gold-italic-glow:hover {
    text-shadow: 0 0 15px rgba(247, 226, 124, 1);
}

