@{
    ViewData["Title"] = "Home Page";
}

<h1 class="welcome-text">WELCOME</h1>
<div class="hero">
    <h1>I hope we see you soon!</h1>
</div>
<div class="hero-container">
    <div class="hero-card">

        <img src="~/Content/img/logo.png" alt="Företagslogga" class="hero-logo" />

        <div class="hero-title">All Hands on Deck</div>
        <div class="hero-subtitle">Staffing • Consulting • Flexible Skills</div>
    </div>
</div>

